<%- include ('../layouts/header') %>

    <div class="container">
        <h3>Your email has been sent successfully.</h3>

        <a href="/">Back to homepage</a>
    </div>

    <%- include ('../layouts/footer') %>