<%- include('../layouts/header') %>

    
    <div class="container-sm">
        <h1>Add New Class</h1>
        <form action="/aad/add" method="post" class="lg-form">
            <div>
                <label for="name">Class Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="description">Class Description</label>
                <textarea id="description" name="description" rows="4" cols="125">
            </textarea>
            </div>
            <div>
                <label for="user">User Created</label>
                <select name="user" id="user">
                    <% users.forEach(usr=> { %>
                        <option value="<%= usr._id %>">
                            <%= usr.email %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div>
                <input type="submit" value="Create">
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../layouts/footer') %>