<%- include('../layouts/header') %> 

<h1>Course </h1>
<div class="profile">
  <div>
    <p class="title">Description</p>
    <p class="subtitle"> <%=  %>  </p>
  </div>
</div>



<%- include('../layouts/footer') %> 