<%- include('../layouts/header') %> 

<h1><%= crs.name %> </h1>
<div class="profile">
  <div>
    <p class="title">Description</p>
    <p class="subtitle"> <%= crs.description %>  </p>
  </div>
</div>

<%- include('../layouts/footer') %> 