<%- include('../layouts/header') %>


    <div class="container-sm">
        <h1>Update</h1>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../layouts/footer') %>