@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');


.container-search {
    overflow: hidden;
    background-color: #595c5a; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }

.container-search button[type=submit] {
    color: white;
    float: right;
    padding: 10px;
    border-style: solid;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
}

h4  {
  text-align: center;
  margin-top: 1rem;
  text-decoration: underline;
}

.container-search input[type=text] {
    float: right;
    padding: 15px;
    border-style: solid;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 767px;
    font-size: 17px;
}

img.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: 'Gemunu Libre', sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}

h1.spe-asm {
  text-align: center;
}

.course-des h1{
    text-align: center;
}

.upload-asm-form {
  border-style: outset;
}

.subtitle {
    padding-left: 15px;
    padding-bottom: 15px;
}

  #slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
  }
  
  .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 14s ease infinite;
  }
  
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
  
  
  @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
  }
  
  
  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .course-des {
    background-color: #03befc;
  }

  form.lg-form-sms {
    margin: 25px;
    padding: 25px;
    border: 4px solid black;
    border-radius: 50px;
  }
  /* form login */
  form.lg-form {
    margin: 100px;
    padding: 32px;
    border: 4px solid #d1d5db;
    min-width: 400px;
    border-radius: 16px;
  }
  
  .lg-form label,
  .lg-form input {
    display: block;
    min-width: 100%;
    margin: 16px 0;
  }
  
  .lg-form label {
    font-weight: bold;
  }
  
  .lg-form input {
    height: 44px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 1rem;
    background-color: #f3f4f6;
  }
  
  .lg-form button[type='submit'] {
    margin: 16px 0;
    background-color: black;
    color: #fff;
    cursor: pointer;
    position: relative;
    left: 462px;

  }
  
  /* form profile */

  .profile {
    min-width: 600px;
    padding: 16px;
    border: 4px solid #d1d5db;
    border-radius: 16px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  .profile > div {
    padding: 16px;
  }
  
  .profile .title {
    font-weight: bold;
  }
  
  .goback {
    cursor: pointer;
  }
  
  /* flash msg */

  div.messages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul.messages {
    list-style: none;
    min-width: 600px;
    max-width: 600px;
    overflow: hidden;
    margin: 16px;
  }
  
  ul.messages * {
    padding: 8px 12px;
  }
  
  .messages .error {
    background-color: #e31743;
  }
  .messages .success {
    background-color: #4ef542;
  }
  .messages .warning {
    background-color: #fcd34d;
  }
  .messages .info {
    background-color: #93c5fd;
  }

.login-form h1 {
  text-align: center;
}

.error-page h1, h3{
  text-align: center;
}

.error-page a {
  text-align: center;
  display: block;
}

.course-hyper a {
  text-align: center;
}

.fa-cog {
  position: absolute;
  left: 1200px;
}

.fa-plus-square {
  position: absolute;
  left: 1155px;
}


.add_user_title h1 {
  text-align: center;
}

.send-mail-form h1 {
  text-align: center;
}

.add_class_title h1 {
  text-align: center;
}

.title_profile h1 {
  text-align: center;
}


