<%- include('./layouts/header') %>

    <h1>Add New Category</h1>

    <form action="/aad/add" method="post">
        <div>
            <label for="name">Category Name</label>
            <input type="text" name="name" id="name" >
        </div>
        <div>
            <label for="description">Category Description</label>
            <textarea id="description" name="description" rows="4" cols="50">
            </textarea>
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>

    <%- include('./layouts/footer') %>