<%- include('./layouts/header') %>

    <div class="container">
        <div class="error-page">
            <h1> Something went wrong...! </h1>
            <h3>
                <%= error.status %> || <%= error.message %>
            </h3>
            <br>
            <a href="/"> Back to homepage </a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('./layouts/footer') %>