<%- include('./layouts/header') %>


    <!-- main content -->
    <div class="container">

        <!-- search button -->
        <div class="container-search">
            <form class="form-inline">
                <input type="text" placeholder="Search...">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <!-- big picture (can be gif...) -->

        <h1>Site</h1>

    </div>
    
    <div class="li-course">
        <li class="header__navbar-item"><a href="course/c">Courses</a></li>
    </div>


    <%- include('./layouts/footer') %>