<%- include('./layouts/header') %>


    <!-- main content -->
    <div class="container">

        <!-- big picture (can be gif...) -->
        <img class="image1" src="https://www.danangjob.vn/Upload/Member/201941194347.png" alt="" width="650px"
            height="250px">

        <!-- search button -->
        <div class="container-search">
            <!-- <form class="form-inline">
                <input type="text" placeholder="Search...">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>

        <div id="slideshow">
            <div class="slide-wrapper">
                <div class="slide"><img
                        src="https://www.ukstudycentre.co.uk/wp-content/uploads/2018/09/students-in-library.jpg">
                </div>
                <div class="slide"><img
                        src="https://fpt.edu.vn/Resources/article/uploads/2019/Khong%20gian%20Anh%20Quoc%20ngap%20tran%20Dai%20hoc%20Greenwich%20Viet%20Nam_8.jpg">
                </div>
                <div class="slide"><img src="https://i.ytimg.com/vi/toFL_Z_EyR0/maxresdefault.jpg">
                </div>
            </div>
        </div>




        <li><a href="course/c">View Classes</a></li>

        

        <%- include('./layouts/footer') %>
        