</main>

<!-- footer tag -->
<footer class="footer">

</footer>

</div>
</body>

</html>

<!-- JQuery for form send email -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            ClassicEditor
                .create(document.querySelector('#classic-editor'))
                .catch(error => {
                    console.error(error)
                })
        })
</script>