<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
</head>

<body>

    <!-- class="app" is the tag contains all the content of website -->
    <div class="app">
        <!-- header tag -->
        <header class="header">

            <%- include('./navbar') %>
            <%- include('./flash-messages') %> 

        </header>
        
            <main>