


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- li home -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <% if (user) { %>
                    
                    <% if (user.role==='ADMIN' ) { %>
                        <!-- li manage-user -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users">Manage Users</a>
                        </li>
                        <!-- li add users -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/add">Add Users</a>
                        </li>
                        <!-- li send email -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/send-email">Send Email</a>
                        </li>
                        <% } %>
                            <% if (user.role==='AAD' ) { %>
                                <!-- li create courses -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/aad/add">Create Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aad/assign">Assign</a>
                                </li>
                                <% } %>

                                    <!-- li logout -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/auth/logout">Logout</a>
                                    </li>
                                    <!-- li profile -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/user/profile"><%= user.name %> </a>
                                    </li>
                                    <% } else { %>
                                        <!-- li login -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="/auth/login">Login</a>
                                        </li>
                                        <% } %>
            </ul>
        </div>
    </div>
</nav>