<%- include('../layouts/header') %>

    <div class="container">
        <h1>
            Add new materials
        </h1>

        <form action="/course/c/<%= course.id %>/m" method="POST" enctype="multipart/form-data" class="lg-form">
            <div>
                <label for="name">Title</label>
                <input type="text" name="name" id="name" placeholder="Enter the title">
            </div>
            <div>
                <label for="description">Description</label>
                <input type="text" id="description" name="description" placeholder="Some description...">
            </div>
            <div>
                <label>Choose files to upload</label>
                <input type="file" name="image" multiple>
            </div>
            <div>
                <input type="submit" value="Create">
            </div>
        </form>
    </div>


    <%- include('../layouts/footer') %>